*{

padding: 0px;
margin: 0px;

}

body{

  background-color: black;
}




.menuprincipal {
  background-color: rgb(233, 92, 92);
    overflow: hidden;
    margin: auto;
    position: sticky;
    top: 0px;
    width: 1180px;
   
}



.menuprincipal ul {
  list-style: none;
  font-size:0; /* truco por el uso de inline-block*/
}

.menuprincipal li {
  display: inline;
  position:relative;

}


ul ul {
  position: absolute;
  display: none;
}
ul ul li {
  display: block;
  width: 200px;
  padding: 50px;
}

ul li:hover ul {
	
   display:block;
   background-color: blue;
}




.menuprincipal img{
  display:inline;
  float: right;
  padding: 10px;
}

  
  .menuprincipal a {
    position: relative;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 31px 20px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgb(233, 92, 92);
  }

  .menuprincipal a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.menuprincipal a.active {
background-color: #04AA6D;
color: white;
}

.titulo{
  background-color: #04AA6D;
  width: 1180px;
  height: 50px;
  font-size:xx-large;
  font-family: cursive;
  margin: auto;


}


.encabezado
{
  /*display: block;*/
  background-color: green;
  align-items: center;
}

.headerimg
{
  display: block;
  align-items: center;
  align-content: center;
  margin: auto;
  width: 1180px;
  padding: 0px;
  
  
}

.novedades {
  width: 500px;
  height: 300px;
  background-color: black;
  overflow: auto;
  display: block;

}


.novedadesTitulo
{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.novedadesDescripcion

{
  width: 400px;
  margin: auto;
  text-align: justify;
  color:white;
}

.contenidoEncabezado
{
  background-color: white;
  width: 1180px;
  margin: auto;
  text-align: center;
  
}

.contenidoHome
{
  display: flex;
}


.contenido
{
  background-color: white;
  width: 1180px;
  margin: auto;
  
  
}

#reglamento h3{
    line-height: 50px;
    margin-left: 10px;
    
}


#reglamento h4{
  line-height: 30px;
/*margin-block-start: 30px;*/
margin-left: 20px;
font-weight: normal;
}

#reglamento ul{
  line-height: 30px;
  margin-left: 40px;

}

#reglamento ol{
  margin-block-start: 30px;
  margin-left: 30px;

}



th,td{
  text-align:center;
  padding:5px 0;
}

th{
  background-color: coral;
 color:white;
 padding: 5px;
}

td{
  background-color: orange;
}

.formulario td{

  background-color: white;
}

.formulario td{
  text-align:left;
  padding:5px 0;
}

footer{

  background-color:rgb(233, 92, 92);
  color: white;
  text-align: center;
  height: 50px;
  width: 1180px;
  margin: auto;
}

