*{

padding: 0px;
margin: 0px;

}

body{

  background-color: black;
}

.menuprincipal {
    background-color: #333;
    overflow: hidden;
    width: 80%;
    margin: auto;
  
  }
  .menuprincipal a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333;
  }

  .menuprincipal a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.menuprincipal a.active {
background-color: #04AA6D;
color: white;
}

.titulo{
  background-color: #04AA6D;
  width: 80%;
  height: 50px;
  font-size:xx-large;
  font-family: cursive;
  margin: auto;


}

.encabezado
{
  width: 80%;
  margin: auto;
}



.contenido
{
  background-color: white;
  width: 80%;
  margin: auto;
}

#reglamento h3{
  
    margin-block-start: 30px;
    margin-left: 10px;
    
}


#reglamento h4{
margin-block-start: 30px;
margin-left: 20px;
font-weight: normal;
}

#reglamento ul{
  margin-block-start: 30px;
  margin-left: 40px;

}

#reglamento ol{
  margin-block-start: 30px;
  margin-left: 30px;

}



th,td{
  text-align:center;
  padding:5px 0;
}

th{
  background-color: coral;
 color:white;
 padding: 5px;
}

td{
  background-color: orange;
}

.formulario td{

  background-color: white;
}

.formulario td{
  text-align:left;
  padding:5px 0;
}

footer{

  background-color: #333;
  color: white;
  text-align: center;
  height: 50px;
  width: 80%;
  margin: auto;
}

